@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --bg-color: #10141E;
    --bg--light: #161D2F;
    --white: #FFFFFF;
    --red: #FC4747;
    --light-blue: #5A698F;
    --font-family: Outfit;
    --font-size: 18px;
}

.movieCard {
    width: 100%;
    position: relative;
}

.play {
    transition: all 2s ease;
}

.play:hover {
    cursor: pointer;
    opacity: 0.9;
    .playBtn {
        display: block;
        background-color: rgb(171, 164, 164, 0.4);
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 20px;
        transition: all 2s ease-in-out;
    }
}

.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    /* background-color: var(--red); */
    cursor: pointer;
    display: none;
    font-weight: 300;
    /* transition: all 2s ease; */
}

.imgConts {
    width: 450px;
}

.imgConts img {
    width: 100%;
    border-radius: 10px;
    z-index: -1;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-self: start;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.desc-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 200;
}

.title {
    display: flex;
    justify-self: start;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-family);
}

.desc-cont img {
    width: 10px;
    height: 10px;
}

.bookmark-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(171, 164, 164, 0.4);
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.bookmark-icons:hover{
    background-color: rgb(171, 164, 164, 0.9);
    svg path{
       stroke: none;
       fill: white; 
    }
    
}
@media screen and (max-width:800px) {
    .imgConts{
        width: 350px;
    }
    
}