@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --bg-color: #10141E;
    --bg--light: #161D2F;
    --white: #FFFFFF;
    --red: #FC4747;
    --light-blue: #5A698F;
    --font-family: Outfit;
    --font-size: 18px; 
}
.movieCards{
    width: 300px;
    position: relative;
}
.imgCont{
    width: 100%;
}
.imgCont img {
    width: 100%;
    border-radius: 10px;
}
.descs{
    display: flex;
    flex-direction: column; 
}
.desc-cont{
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 10px;
}
.titles{
    display: flex;
    justify-self: start;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-family);
}
.desc-cont img {
    width: 10px;
    height: 10px;
}
.bookmark-icons{
    position: absolute;
    top:0;
    right:0;
    margin: 10px;
    /* transform: translate(320px, -180px); */
    width: 20px;
    height: 20px;
    background-color: rgb(171, 164, 164, 0.4) ;
    background-position: center;
    padding:10px;
    text-align: center;
    border-radius:50%;
}
.bookmark-icons:hover{
    background-color: rgb(171, 164, 164, 0.9);
    svg path{
       stroke: none;
       fill: white; 
    }
    
}
.play {
    transition: all 2s ease;
}

.play:hover {
    cursor: pointer;
    opacity: 0.9;
    .playBtn {
        display: block;
        background-color: rgb(171, 164, 164, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 15px;
        border-radius: 20px;
        transition: all 2s ease-in-out;
    }
}
@media screen and (max-width:770px) {
    .movieCards{
        width: 95%;
        margin: 0 auto;
    }
    
}