.home {
    display: flex;
    gap: 30px;
    overflow: hidden;
    display: relative;
}

.aligning {
    position: absolute;
    z-index: -1;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: hidden;
    animation: autoslide infinite 10s ease; 
}

.behind{
    width:90%;
}
.behind:hover {
    .aligning {
        position:absolute;
        animation-play-state: paused;
    }
}

@keyframes autoslide {
    0% {
        transform: translateX(0%);
    }

    200% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(-20%);
    }

    80% {
        transform: translateX(-30%);
    }

    100% {
        transform: translate(0%);
    }
}

.recommended {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    row-gap: 30px;
    /* margin: 0 10px; */
}
.positioning{
    position: relative;
    top: 300px;
    /* bottom: 20px; */
}
