@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --bg-color: #10141E;
    --bg--light: #161D2F;
    --white: #FFFFFF;
    --red: #FC4747;
    --light-blue: #5A698F;
    --font-family: Outfit;
    --font-size: 18px; 
}
body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color:var(--white);
    font-weight: 100;
    font-style: normal;
}
.container{
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg--light);
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    color: var(--white)
}
label{
    display:flex;
    margin-top: 10px;
    justify-self: start;
}
input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--light-blue);
    color: var(--white);
}
button{
    margin-top: 20px;
    background-color: #FC4747;
    height: 40px;
    color: var(--white);
    border-radius: 8px;
    outline:none;
    border:none;
    font-family:var(--font-family);
    transition: all 0.3s ease-in;
    cursor: pointer;
}
button:hover{
    background-color: var(--white);
    color: black;
}
input:focus{
    outline: none;
    border-bottom:1px solid var(--white);
    caret-color: white;
    color:white;
}
.red{
    color: var(--red);
}