@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --bg-color: #10141E;
    --bg--light: #161D2F;
    --white: #FFFFFF;
    --red: #FC4747;
    --light-blue: #5A698F;
    --font-family: Outfit;
    --font-size: 18px; 
}
body{
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--white);
}